.login {
  max-width: 600px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  input {
    width: 100%;
  }
}

.login-btn {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  font-weight: 600;
  letter-spacing: 0.05px;
}
