.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}
.products {
  text-decoration: none;
  color: black;
  font-size: 32px;
}
.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  .link {
    background: rgb(88, 88, 230);
    color: white;
    padding: 12px 14px;
    border-radius: 20px;
    text-decoration: none;
    border: none;
  }
}
